
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #fff;
}

/*----------------staff-registration-------------------*/

.registration-form{
 height: 1140px;
}

.registration{
     height: 700px;
    background-color: #4E2A68;
    margin-top: 106px;
    box-shadow: 5px 5px #18224D;
}
.form{
    margin-top: 17px;
}

.rf{
   padding-left: 36px;
}
.ref {
    color: white;
    margin-top: 29px;
    font-size: 30px;
    border-bottom: 1px solid white;
}
.ca{
	background-color: #18224D;
	border-color: #18224D;

}
label{
        margin-right: 41px;
}




















